<!DOCTYPE html>
<html>
  <head>
    <title>FinanceGrinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <%= link_to 'FinanceGrinder', root_url, class: 'brand-logo' %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class='active'><a href="#">Categories</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Categories</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </div>
  </body>
</html>
